/* app css stylesheet */
body {
    background-color: black;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.dragStyle {
    background-color: #59575b;
}

.dragFunctionality {
    display: inline-block;
    position: relative;
    margin: 20px;
    float: none;
    z-index: 0;
}

.interactible {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*p, span, a {*/
    /*-webkit-touch-callout: initial;*/
    /*-webkit-user-select: initial;*/
    /*-khtml-user-select: initial;*/
    /*-moz-user-select: initial;*/
    /*-ms-user-select: initial;*/
    /*user-select: initial;*/
    /*cursor: default;*/
/*}*/

.select {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    cursor: default;
}

.dragRect {
    width: 300px;
}

sandbox {
    overflow: hidden;
}

toolbar {
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
    width: 100%;
    display: inline-block;
    opacity: 0;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

toolbar.visible {
    opacity: 1;
    background-color: #413f43
}


edit,lock {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    float: right;
}

.fullSize {
    width: 100%;
    height: 100%;
}

.textDrag {
    background-color: #204d74;
}

.textDrag p {
    padding: 10px;
}

.textDrag toolbar {
    margin-top: -10px;
}

.editTextInput {
    width: 125px;
}

.editModalContent {
    width: 320px;
}

.editFormGroup {
    text-align: center;
}

.editContent {
    display: inline-block;
}

label.editContent {
    width: 50px;
}

.widthDiv {
    margin-bottom: 5px;
}

.heightDiv {
    margin-bottom: -10px;
}