/* app css stylesheet */
body {
    background-color: black;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dragStyle {
    background-color: #808080;
}

.dragFunctionality {
    display: inline-block;
    position: relative;
    margin: 20px;
    float: none;
    z-index: 0;
}

.interactible {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*p, span, a {*/
    /*-webkit-touch-callout: initial;*/
    /*-webkit-user-select: initial;*/
    /*-khtml-user-select: initial;*/
    /*-moz-user-select: initial;*/
    /*-ms-user-select: initial;*/
    /*user-select: initial;*/
    /*cursor: default;*/
/*}*/

.select {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    cursor: default;
}

.dragRect {
    width: 300px;
}

sandbox {
    overflow: hidden;
    display: block;
    background-color: #c2b280;
}

lock {
    float: right;
    margin: 10px;
    margin-top: 5px;
    position: relative;
    z-index: 1;
}

edit {
    float: right;
    margin: 10px;
    margin-top: 5px;
    position: relative;
    z-index: 1;
}

.fullSize {
    width: 100%;
    height: 100%;
}